@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
h1 {
	text-align: center;
	font-family: "Fredoka";
	font-size: 10em;
}

hr {
	position: absolute;
	bottom: 10px
}
